body {
  font-family: Arial;
  padding: 20px;
  background: #eeeeee;
}

#lista-productos, #carrito {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.card img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  margin-bottom: 10px;
}

button {
  margin-top: 10px;
  padding: 8px 12px;
  border: none;
  background: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
